
table{
  border:5px rgb(0,153,0) solid;
  width: 640px;
}

caption{
  padding:10px;
  font-style: italic;
}


thead{
  background-color:red;
  color:white;
}

tbody{
  background-color: green;
  color:white;
}

td{
  padding: 10px;
}

th:nth-child(-n+2){
  width: 200px;
}
td:nth-child(-n+2){
  width: 200px;
}
th:nth-child(3){
  width: 90px;
}
